[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/morelli-ai
ExecStart=/home/ubuntu/morelli-ai/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/tmp/gunicorn.sock \
          morelli.wsgi:application

[Install]
WantedBy=multi-user.target